<!-- Masonry Grid Title -->
<h2>{{ section.settings.masonry-grid }}</h2>

<!-- Block Object -> Masonry Grid -->
<div class="masonry-grid"></div>
{%- for block in section.blocks -%}
    <div class="grid-item">
        <a href="{{ block.settings.url }}">
            <img src="{{ block.settings.image | image_url: width: 500, height: 400 }}" alt="{{ block.settings.text }}" width="500" height="400" loading="lazy">
        </a>
        <a href="{{ block.settings.url }}">
            <h3>{{ block.settings.text }}</h3>
        </a>
    </div>
{%- endfor -%}

{% schema %}

{
    "name": "Masonry Grid",
    "settings": [
        {
            "id": "masonry-grid",
            "type": "text",
            "label": "Add a masonry grid"
        }
    ],
    "blocks": [
        {
            "name": "Masonry Image",
            "type": "masonry-image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                }, {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Masonry Grid",
            "category": "Masonry"
        }
    ]
}

{% endschema %}

{% javascript %}
let grid = document.querySelector('.masonry-grid');
let msnry = new Masonry( grid, {
  itemSelector: '.grid-item',
  columnWidth: 600
});
{% endjavascript %}